.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 70%;
}
.search-bar button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}